# Log dell'Honeypot (possono contenere migliaia di righe)
logs/
*.json

# File di sistema e Docker
.DS_Store
__pycache__/
*.pyc

# Dati di Elasticsearch (molto pesanti)
elasticsearch_data/

# Credenziali (se usi file .env)
.env
